.aboutUs {
    padding-top: 30px;
    position: relative;
    z-index: 2;
    background: url('../img/aboutUs_bg.jpg')center center/cover no-repeat;
    width: 100%;
}

.aboutUs__container p {
    margin: 0px 0px 50px 0px;
}

.aboutUs-title {
    font-size: 50px;
    padding-bottom: 40px;
}

.aboutUs__text {
    overflow: hidden;
    font-size: 24px;
    line-height: 32px;
}

.aboutUs__gallery {
    margin: 30px 0px 50px;
    display: grid;
    grid-template: repeat(2, 270px) / repeat(4, 270px);
    grid-auto-rows: 280px;
    gap: 10px;
    padding: 0 10px;

    .gorizont1 {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    .gorizont2 {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
    }

    .vertical {
        grid-row: 1 / 3;
        grid-column: 4 / 5;
    }

    &-item {
        @include mainShadow;
        @include borderFoto;
        border-radius: 10px;
        overflow: hidden;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            transform: scale(1);
            transition:all 1s ease 0s;
        }
        img:hover {
            transform: scale(1.2);
        }
    }

}

@media (max-width: 1200px) {
    .aboutUs__gallery {
        grid-template-columns: repeat(auto-fit, 270px);
        grid-auto-rows: 270px;
        justify-content: space-around;
        .gorizont1, .gorizont2, .vertical {
            grid-row: unset;
            grid-column: unset;
        }
    }
}